.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.not-found {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 8vw;
  padding-top: 10vh;
}
