.window {
  display: flex;
}

.files {
  width: 300px;
}

.selectors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.CodeEditorWindow {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 640px;
  margin-top: 20px;
  padding: 0 16px;
}

.editor-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
}

.monaco-editor-container {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  border: 2px solid #444;
  background-color: #1a202c;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.logout {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.logout button,
.save-btn {
  border: none;
  background-color: #2d3748;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.save-btn {
  margin-bottom: 16px;
}
.logout button:hover {
  background-color: #4a5568;
  transition: all 0.2s ease;
}

@media (max-width: 768px) {
  .selectors {
    gap: 12px;
    margin-bottom: 12px;
  }

  .editor-container {
    max-width: 100%;
  }

  .monaco-editor-container {
    height: 400px;
  }
}

@media (max-width: 522px) {
  .selectors {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

  .editor-container {
    max-width: 100%;
  }

  .monaco-editor-container {
    height: 300px;
  }
}
