.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #fff;
    background-color: #24292e;
    gap: 20px;
}

.login input{
    padding: 10px 20px;
    width: 200px;
    border-radius: 10px;
    border: none;
}

.login input:focus-visible{
    outline: none;
}

.login button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #2c0e69;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}