::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #24292e;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #2c0e69;
  border-radius: 6px;
  border: 3px solid #24292e;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.side-bar {
  height: 100vh;
  max-width: 300px;
  background-color: #24292e;
  border-radius: 0 10px 10px 0;
  color: #fff;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.file-list {
  height: 69vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.files-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.files-title button {
  border: none;
  border-radius: 50px;
  background-color: #2c0e69;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0a19;
  border-radius: 5px;
  padding: 0 10px;
  width: 90%;
}
.file .info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.file img {
  width: 30px;
  height: 30px;
}

.contributors {
  overflow-y: auto;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: none;
}

.avatars h4 {
  padding: 10px 17px;
  background-color: #2c0e69;
  border-radius: 50px;
}
